[submodule "KeyValues"]
	path = include/thirdparty/KeyValues
	url = https://github.com/nt-bots/KeyValues
[submodule "LeksysINI"]
	path = include/thirdparty/LeksysINI
	url = https://github.com/nt-bots/LeksysINI
[submodule "valve-keyvalues-python"]
	path = build/scripts/valve-keyvalues-python
	url = https://github.com/nt-bots/valve-keyvalues-python
