[submodule "KeyValues"]
	path = include/thirdparty/KeyValues
	url = https://github.com/nt-bots/KeyValues
[submodule "LeksysINI"]
	path = include/thirdparty/LeksysINI
	url = https://github.com/nt-bots/LeksysINI
