on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        python-version: [ '3.8', '3.9' ]

    runs-on: ${{ matrix.os }}

    env:
      if: runner.os == 'Windows'
      POWERSHELL_TELEMETRY_OPTOUT: 1

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Get specific Python version (Linux)
      if: runner.os == 'Linux'
      shell: bash
      run: |
        sudo add-apt-repository ppa:deadsnakes/ppa
        sudo apt-get update
        sudo apt-get install python${{matrix.python-version}} python${{matrix.python-version}}-dev

    # Need to manually specify the patch version, for now... :-( I guess this could be grepped from somewhere.
    - name: Detect Chocolatey Python patch version (Windows, Python 3.9.x)
      if: runner.os == 'Windows' && matrix.python-version == '3.9'
      shell: bash
      run: echo "CHOCOLATEY_PYTHON_PATCH_VER=.1" >> $GITHUB_ENV
    - name: Detect Chocolatey Python patch version (Windows, Python 3.8.x)
      if: runner.os == 'Windows' && matrix.python-version == '3.8'
      shell: bash
      run: echo "CHOCOLATEY_PYTHON_PATCH_VER=.7" >> $GITHUB_ENV
    - name: Get specific Python version (Windows)
      if: runner.os == 'Windows'
      shell: powershell
      run: choco install --version=${{matrix.python-version}}.${{env.CHOCOLATEY_PYTHON_PATCH_VER}} --ignore-detected-reboot python

    - name: Enable Developer Command Prompt
      if: runner.os == 'Windows'
      uses: ilammy/msvc-dev-cmd@v1.5.0

    - name: Build SQLite3 amalgamation (Linux)
      if: runner.os == 'Linux'
      shell: bash
      run: |
        cd "${{env.GITHUB_WORKSPACE}}"
        mkdir -p include/thirdparty/sqlite-amalgamation
        cd include/thirdparty/sqlite-amalgamation
        git clone https://github.com/sqlite/sqlite .
        sh configure
        make sqlite3.c
        cd "${{env.GITHUB_WORKSPACE}}"

    - name: Build SQLite3 amalgamation (Windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        cd "${{env.GITHUB_WORKSPACE}}"
        mkdir lib\thirdparty\x64
        mkdir include\thirdparty\sqlite-amalgamation
        cd include\thirdparty\sqlite-amalgamation
        git clone https://github.com/sqlite/sqlite .
        nmake /f makefile.msc sqlite3.c
        cl /c /EHsc sqlite3.c
        lib sqlite3.obj
        move sqlite3.lib ..\..\..\lib\thirdparty\x64\sqlite3.lib
        cd "${{env.GITHUB_WORKSPACE}}"

    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      env:
        NABE_PYTHON_VERSION: ${{matrix.python-version}}
      shell: bash
      working-directory: ${{runner.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source
      # and build directories, but this is only available with CMake 3.13 and higher.
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Add other build components  (Linux)
      if: runner.os == 'Linux'
      shell: bash
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        cp README.md ${{runner.workspace}}/build
        cp LICENSE.md ${{runner.workspace}}/build
        cp OpenSourceLicenses.md ${{runner.workspace}}/build
        
        cp build/config.ini ${{runner.workspace}}/build
        cp -r build/nav ${{runner.workspace}}/build
        cp -r build/scripts ${{runner.workspace}}/build
        
        mv ${{runner.workspace}}/build/scripts/valve-keyvalues-python/valve_keyvalues_python ${{runner.workspace}}/build/scripts
        rm -r ${{runner.workspace}}/build/scripts/valve-keyvalues-python

    - name: Add other build components  (Windows)
      if: runner.os == 'Windows'
      shell: cmd
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        mkdir "${{runner.workspace}}\build"
        mkdir "${{runner.workspace}}\build\nav"
        mkdir "${{runner.workspace}}\build\scripts"
        
        copy README.md "${{runner.workspace}}\build"
        copy LICENSE.md "${{runner.workspace}}\build"
        copy OpenSourceLicenses.md "${{runner.workspace}}\build"
        copy build/config.ini "${{runner.workspace}}\build"
        
        xcopy /E build\nav "${{runner.workspace}}\build\nav"
        xcopy /E build\scripts "${{runner.workspace}}\build\scripts"
        
        xcopy /E "${{runner.workspace}}\build\scripts\valve-keyvalues-python\valve_keyvalues_python" "${{runner.workspace}}\build\scripts\valve_keyvalues_python"
        rmdir /S /Q "${{runner.workspace}}\build\scripts\valve-keyvalues-python"

    - name: Archive the build (Linux)
      if: runner.os == 'Linux'
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: zip -r ${{runner.workspace}}/build/nabe_x64_${{runner.os}}_python${{matrix.python-version}}_${{github.sha}}.zip nabe config.ini nav scripts README.md LICENSE.md OpenSourceLicenses.md

    - name: Archive the build (Windows)
      if: runner.os == 'Windows'
      working-directory: ${{runner.workspace}}/build
      shell: powershell
      run: |
        Copy-Item "Release\nabe.exe" -Destination "${{runner.workspace}}\build"
        Compress-Archive -Path "${{runner.workspace}}\build" -DestinationPath "${{runner.workspace}}\build\nabe_x64_${{runner.os}}_python${{matrix.python-version}}_${{github.sha}}.zip"

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: ${{ github.ref }}
        release_name: Release (${{runner.os}}, Python ${{matrix.python-version}}) ${{ github.ref }}
        body: |
          Automated prerelease. WIP.
        draft: true
        prerelease: true

    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
        asset_path: ${{runner.workspace}}/build/${{runner.workspace}}\build\nabe_x64_${{runner.os}}_python${{matrix.python-version}}_${{github.sha}}.zip
        asset_name: ${{runner.workspace}}\build\nabe_x64_${{runner.os}}_python${{matrix.python-version}}_${{github.sha}}.zip
        asset_content_type: application/zip
