on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        python-version: [ '3.9' ]

    runs-on: ${{ matrix.os }}

    env:
      if: runner.os == 'Windows'
      POWERSHELL_TELEMETRY_OPTOUT: 1

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - uses: actions/setup-python@v2
      with:
        python-version: ${{matrix.python-version}}-dev

    - name: Enable Developer Command Prompt
      if: runner.os == 'Windows'
      uses: ilammy/msvc-dev-cmd@v1.5.0

    - name: Build SQLite3 amalgamation (Linux)
      if: runner.os == 'Linux'
      shell: bash
      run: |
        cd "${{env.GITHUB_WORKSPACE}}"
        mkdir -p include/thirdparty/sqlite-amalgamation
        cd include/thirdparty/sqlite-amalgamation
        git clone https://github.com/sqlite/sqlite .
        sh configure
        make sqlite3.c
        cd "${{env.GITHUB_WORKSPACE}}"

    - name: Build SQLite3 amalgamation (Windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        cd "${{env.GITHUB_WORKSPACE}}"
        mkdir lib\thirdparty\x64
        mkdir include\thirdparty\sqlite-amalgamation
        cd include\thirdparty\sqlite-amalgamation
        git clone https://github.com/sqlite/sqlite .
        nmake /f makefile.msc sqlite3.c
        cl /c /EHsc sqlite3.c
        lib sqlite3.obj
        move sqlite3.lib ..\..\..\lib\thirdparty\x64\sqlite3.lib
        cd "${{env.GITHUB_WORKSPACE}}"

    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      env:
        NABE_PYTHON_VERSION: ${{matrix.python-version}}
      shell: bash
      working-directory: ${{runner.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source
      # and build directories, but this is only available with CMake 3.13 and higher.
      run: |
        echo "Python ver: ${{env.NABE_PYTHON_VERSION}}"
        cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE
    
    - name: Add other build components  (Linux)
      if: runner.os == 'Linux'
      shell: bash
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        cp README.md ${{runner.workspace}}/build
        cp LICENSE.md ${{runner.workspace}}/build
        cp OpenSourceLicenses.md ${{runner.workspace}}/build
        cp build/config.ini ${{runner.workspace}}/build
        cp -r build/nav ${{runner.workspace}}/build
        cp -r build/scripts ${{runner.workspace}}/build
        mv ${{runner.workspace}}/build/scripts/valve-keyvalues-python/valve_keyvalues_python ${{runner.workspace}}/build/scripts
        rm -r ${{runner.workspace}}/build/scripts/valve-keyvalues-python
    
    - name: Add other build components  (Windows)
      if: runner.os == 'Windows'
      shell: cmd
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        mkdir "${{runner.workspace}}\build\nabe_x64_${{runner.os}}"
        mkdir "${{runner.workspace}}\build\nabe_x64_${{runner.os}}\nav"
        mkdir "${{runner.workspace}}\build\nabe_x64_${{runner.os}}\scripts"
        copy README.md "${{runner.workspace}}\build\nabe_x64_${{runner.os}}"
        copy LICENSE.md "${{runner.workspace}}\build\nabe_x64_${{runner.os}}"
        copy OpenSourceLicenses.md "${{runner.workspace}}\build\nabe_x64_${{runner.os}}"
        copy build/config.ini "${{runner.workspace}}\build\nabe_x64_${{runner.os}}"
        xcopy /E build\nav "${{runner.workspace}}\build\nabe_x64_${{runner.os}}\nav"
        xcopy /E build\scripts "${{runner.workspace}}\build\nabe_x64_${{runner.os}}\scripts"
    
    - name: Archive the build (Linux)
      if: runner.os == 'Linux'
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: zip -r nabe_x64_${{runner.os}}.zip nabe config.ini nav scripts README.md LICENSE.md OpenSourceLicenses.md
    
    - name: Archive the build (Windows)
      if: runner.os == 'Windows'
      working-directory: ${{runner.workspace}}/build
      shell: powershell
      run: |
        Copy-Item "Release/nabe.exe" -Destination ".\nabe_x64_${{runner.os}}"
        Compress-Archive -Path ".\nabe_x64_${{runner.os}}" -DestinationPath ".\nabe_x64_${{runner.os}}.zip"
    
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: ${{ github.ref }}
        release_name: Release (${{runner.os}}) ${{ github.ref }}
        body: |
          Automated release. WIP.
        draft: true
        prerelease: true
    
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
        asset_path: ${{runner.workspace}}/build/nabe_x64_${{ runner.os }}.zip
        asset_name: nabe_x64_${{ runner.os }}.zip
        asset_content_type: application/zip

